<!DOCTYPE html>
<html>
  <head>
    <title>ログイン（２）</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>２つのリンクを順番にクリックして認証してください</h1>
    <a href="/google">Googleへログイン</a>
    <a href="/twitter">twitterへログイン</a>
  </body>
</html>
