<html>
  <head>
    <title>ログイン</title>
    <style type="text/css">
      .div_block { width: 300px; display: inline-block; vertical-align: top;
                   margin: 5px; border: 1px solid #555; }
      .div_header { background-color: #CCC; padding: 10px;
                    height: 26px; font-size: 12px;}
      img { object-fit: cover; width: 300px; height: 160px; display:block;}
      .nodata { width: 300px; height: 160px; background-color: #EEE;}
      p { padding: 5px; font-size: 10px; display: block; height: 60px;}
    </style>
  </head>
  <body>
    <p>認証中・・・</p>
    <script>
    var form;

form.onsubmit = function (e) {
  // stop the regular form submission
  e.preventDefault();

  // collect the form data while iterating over the inputs
  var data = {};
  for (var i = 0, ii = form.length; i < ii; ++i) {
    var input = form[i];
    if (input.name) {
      data[input.name] = input.value;
    }
  }

  // construct an HTTP request
  var xhr = new XMLHttpRequest();
  xhr.open(form.method, form.action, true);
  xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

  // send the collected data as JSON
  xhr.send(JSON.stringify(data));

  xhr.onloadend = function () {
    // done
  };
};
</script>

    <form action="https://hacku-techlion.herokuapp.com/google/login" method="post" name="myform">
            <input type="hidden" name="body" value='{"name":"amazon"}'>
      <input type="hidden" name="uri" value="https://hacku-techlion.herokuapp.com/google/login"/>
      </form>
      
</body>
</html>